{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
        <style>
                body {
                    background-color: #222222 !important;
                    color: #9c9a9a !important; 
                }
                </style>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>TCSAPP - All Stores Info</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css">

<style>
        .red {
            background-color: rgb(219, 98, 98);
            color:#000000; 
        }

        .green {
            background-color: #48e24a;
            color:#000000; 
            font
        }

        td.details-control {
            background: url('https://raw.githubusercontent.com/DataTables/DataTables/1.10.7/examples/resources/details_open.png') no-repeat center center;
            cursor: pointer;
        }

        tr.shown td.details-control {
            background: url('https://raw.githubusercontent.com/DataTables/DataTables/1.10.7/examples/resources/details_close.png') no-repeat center center;
        }

        </style>

        <style type=text/css>
            .table_check{
                width: 30px;
                height: 30px;
                background-color: #ddd;

            }
        </style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/select/1.2.1/js/dataTables.select.min.js"></script>
<script src="https://cdn.datatables.net/plug-ins/1.10.13/api/fnStandingRedraw.js"></script>
<!--<script src="https://cdn.datatables.net/responsive/2.2.1/css/responsive.dataTables.min.css"></script>-->

<script>
        var group1;
        var _5pm;
        var _530pm;
        var _6pm;
        var _7pm;
          
          
          
        $.getJSON("{% static '5pm.json' %}", function(data) {
         _5pm = data;
        });
        $.getJSON("{% static '5pm.json' %}", function(data) {
        _530pm = data;
        });
        $.getJSON("{% static '5pm.json' %}", function(data) {
        _6pm = data;
        });
        $.getJSON("{% static '5pm.json' %}", function(data) {
        _7pm = data;
        });


        /* Formatting function for row details - modify as you need */
    function format ( d ) {
    // `d` is the original data object for the row
    return '<div class="slider">'+
            '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">'+
                '<tr>'+
                    '<td>Store Number:</td>'+
                    '<td><a href="http://admin:Connexion1@sip-t23g-{{out}}/cgi-bin/ConfigManApp.com?number='+d.fields.telephone+'&outgoing_uri={{out}}@192.168.20.156">'+d.fields.telephone+'</a></td>'+
                '</tr>'+
                '<tr>'+
                    '<td>Area Manager:</td>'+
                    '<td>'+d.fields.area_manager+'</td>'+
                '</tr>'+
                '<tr>'+
                    '<td>Area Manager Tel:</td>'+
                    '<td><a href="http://admin:Connexion1@sip-t23g-{{out}}/cgi-bin/ConfigManApp.com?number='+d.fields.area_manager_tel+'&outgoing_uri={{out}}@192.168.20.156">'+d.fields.area_manager_tel+'</a></td>'+
                '</tr>'+
                '<tr>'+
                    '<td>Store Manager:</td>'+
                    '<td>'+d.fields.store_manager+'</td>'+
                '</tr>'+
                '<tr>'+
                    '<td>Store Manager Tel:</td>'+
                    '<td><a href="http://admin:Connexion1@sip-t23g-{{out}}/cgi-bin/ConfigManApp.com?number='+d.fields.store_manager_tel+'&outgoing_uri={{out}}@192.168.20.156">'+d.fields.store_manager_tel+'</a></td>'+
                '</tr>'+
                '<tr>'+
                    '<td>Trainee Manager:</td>'+
                    '<td>'+d.fields.trainee_manager+'</td>'+
                '</tr>'+
                '<tr>'+
                    '<td>Trainee Manager Tel:</td>'+
                    '<td><a href="http://admin:Connexion1@sip-t23g-{{out}}/cgi-bin/ConfigManApp.com?number='+d.fields.trainee_manager_tel+'&outgoing_uri={{out}}@192.168.20.156">'+d.fields.trainee_manager_tel+'</a></td>'+
                '</tr>'+
            '</table>'+
        '</div>';
    }

    $(document).ready(function() {
        var table= $('#allstores').DataTable( {
         
          "ajax":{
            "processing": true,
            "url": "{% url 'ajax_url' %}",
            "dataSrc":""
          },

          "pageLength": 25,
          "columns":[   
                        { data: "pk" },
                        { data: "fields.name" },
                        { data: "fields.status",  width: "5%",
                            render: function(data, type, row) {
                              if (data === false) {
                                return 'ERROR'
                              } else if (data === true) {
                                return 'SUCCESS'
                              }
                              return data;
                            },
                            createdCell: function(td, cellData, rowData, row, col) {
                              if (cellData === false) {
                                $(td).addClass('red')
                              } else {
                                $(td).addClass('green')
                              }
                            },
                        },
                        { data: "fields.telephone", visible: false,
                          render: function(data, type, row) {
                            if (type === 'display' && data == 'No Data')
                            {
                                return data;
                            }

                            else if (type === 'display' && data) 
                                {
                                return '<a href="http://admin:Connexion1@sip-t23g-{{out}}/cgi-bin/ConfigManApp.com?number='+data+'&outgoing_uri={{out}}@192.168.20.156">'+data+'</a>'
                                }
                            return data;
                            },
                        },
                        { data: "fields.area_manager", visible: false},
                        { data: "fields.area_manager_tel", visible: false,
                            render: function(data, type, row) {
                                if (type === 'display' && data == 'No Data')
                                {
                                    return data;
                                }

                                else if (type === 'display' && data) 
                                {
                                    return '<a href="http://admin:Connexion1@sip-t23g-{{out}}/cgi-bin/ConfigManApp.com?number='+data+'&outgoing_uri={{out}}@192.168.20.156">'+data+'</a>'
                                }
                            return data;
                                },
                        },
                        { data: "fields.store_manager" , visible: false},
                        { data: "fields.store_manager_tel", visible: false,
                            render: function(data, type, row) {
                                if (type === 'display' && data == 'No Data')
                                {
                                    return data;
                                }

                                else if (type === 'display' && data) 
                                {
                                    return '<a href="http://admin:Connexion1@sip-t23g-{{out}}/cgi-bin/ConfigManApp.com?number='+data+'&outgoing_uri={{out}}@192.168.20.156">'+data+'</a>'
                                }
                            return data;
                            },
                        },
                        { data: "fields.trainee_manager" ,visible: false},
                        { data: "fields.trainee_manager_tel",visible: false,
                            render: function(data, type, row) {
                                if (type === 'display' && data == 'No Data')
                                {
                                    return data;
                                }

                                else if (type === 'display' && data) 
                                {
                                    return '<a href="http://admin:Connexion1@sip-t23g-{{out}}/cgi-bin/ConfigManApp.com?number='+data+'&outgoing_uri={{out}}@192.168.20.156">'+data+'</a>'
                                }
                            return data;
                            },           
                        },

                        {
                            data: "fields.called", width: "2%",
                            render: function(data, type, row) {
                              if (type === 'display' && data === false) {
                                return '<input id="update" type="checkbox">'
                              } else if (type === 'display' && data === true) {
                                return '<input id="update" type="checkbox" checked="1">'
                              }
                              return data;
                            },
                          },
                          {
                            width: "2%",
                            class: 'details-control',
                            orderable : false,
                            data : null,
                            defaultContent : ''
                        },
                    ]
      });

      $(document).on('click', '#update', function(e) {
        //clearTimeout(timeout_id); 
        console.log("checkbox submitted!")
        console.log($(this).parent().parent().find('>:first-child').text())

        $.ajax
        ({
            type : 'POST',
            url : "{% url 'update' %}",
            data :  {
                        store : $(this).parent().parent().find('>:first-child').text(),
                        //csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                    },
            success:function(){
               // alert("Updated called status")
            }
            
        })
        
        //$.post("{% url 'update' %}", {code: $(this).parent().parent().find('>:first-child').text()})
        //timeout_id = setTimeout(reloadStoreData, 5000);
      })

      // Add event listener for opening and closing details
    $('#allstores tbody').on('click', 'td.details-control', function () {
        var tr = $(this).closest('tr');
        var row = table.row( tr );

        if ( row.child.isShown() ) {
            // This row is already open - close it
            $('div.slider', row.child()).slideUp( function () {
                row.child.hide();
                tr.removeClass('shown');
            } );
        }
        else {
            // Open this row
            row.child( format(row.data()), 'no-padding' ).show();
            tr.addClass('shown');

            $('div.slider', row.child()).slideDown();
        }
    });

    });
    </script>

    

</head>
<body>
<nav id="myNavbar" class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">TCSAPP</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Dashboard</a></li>
                <li><a href="/watcher/">Integrity Checker</a></li>
                <li class="active"><a href="">All Store Info</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="jumbotron text-center" style="background-color: #222222">
        <h2>All Stores Infomation</h2>
        <a class="label label-success" href="/update/">Update</a>
      </div>
      
      <div class="container">
        <div class="row">
            <div class="col-sm-2 text-center" >
                <div class="panel panel-default" width="30%">
                <!-- Default panel contents -->
                <div class="panel-heading">FILTERS</div>
                <!-- FAILED CHECKBOX -->
                <div class="checkbox text-center">
                <label><input id="checkbox" type="checkbox" value="">Show Failed</label>
                </div>
                <!-- 5PM CHECKBOX -->
                <div class="checkbox text-center">
                <label><input id="5PMBOX" type="checkbox" value="">5:00pm Stores</label>
                </div>
                <!-- 5:30PM CHECKBOX -->
                <div class="checkbox text-center">
                <label><input id="530PMBOX" type="checkbox" value="">5:30pm Stores</label>
                </div>
                <!-- 6PM CHECKBOX -->
                <div class="checkbox text-center">
                <label><input id="6PMBOX" type="checkbox" value="">6:00pm Stores</label>
                </div>
                <!-- 7PM CHECKBOX -->
                <div class="checkbox text-center">
                <label><input id="7PMBOX" type="checkbox" value="">7:00pm Stores</label>
                </div>
                </div>
            </div>
    
            <div class="col-sm-12" >
                <table class="table table-bordered" width="100%" cellspacing="0" id="allstores">
            <thead>
                <tr>
                        <th></th>
                        <th>Store</th>
                        <th>Status</th>
                        <th>Telephone</th>
                        <th></th>
                        <th>Area Manager</th>
                        <th></th>
                        <th>Store Manager</th>
                        <th></th>
                        <th>Trainee Manager</th>
                        <th>Called</th>
                        <th>Extra Details</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th></th>
                    <th>Store</th>
                    <th>Status</th>
                    <th>Telephone</th>
                    <th></th>
                    <th>Area Manager</th>
                    <th></th>
                    <th>Store Manager</th>
                    <th></th>
                    <th>Trainee Manager</th>
                    <th>Called</th>
                    <th>Extra Details</th>
                </tr>
            </tfoot>
          </table>
            </div>
        </div>
    </div>
    
    
    
    </body>
    </html>
    